body {
    background-color: #f0f2f5;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

div {
    display: flex;
}

.main {
    margin: 122px;
    gap: 100px;
    align-items: center;
    padding: 22px;
}

.left, .right, .form {
    flex-direction: column;
}

.left {
    width: 55%;
}

h1 {
    color: #0165E1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    size: 28px;
    font-weight: normal;
}

.right {
    flex-direction: column;
    width: 45%;
    align-items: center;
}

.form {
    flex-direction: column;
    background-color: white;
    padding: 18px;
    border-radius: 8px;
    gap: 15px;
    width: 100%;
    box-shadow: 0 0 9px 0 rgba(128, 128, 128, 0.64);
}

hr {
    width: 100%;
    background-color: lavender;
    height: 1px;
    border: none;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.51);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}

input:focus {
    border-color: #0166e1e0;
    box-shadow: 0 0 3px 0 rgba(140, 140, 255, 0.842);
}

input:focus-visible {
    outline: none;
}

input::placeholder {
    color: rgba(128, 128, 128, 0.822);
}

button {
    border-radius: 10px;
    padding: 15px;
    border: 0;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

a {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: #1877f2;
    margin-top: 15px;
}

.right a:hover {
    text-decoration: underline;
}

.right p a{
    color: black;
    font-weight: bold;
}

.right p a:hover {
    text-decoration: underline;
}


.login {
    background-color: #1877f2;
    font-size: 20px;
    color: white;
}

.login a:hover {
    text-decoration: none;
}

.create {
    background-color: #42b72a;
    font-size: 20px;
    width: max-content;
    align-self: center;
}

.create:hover {
    background-color: #399d25;
}

.create:active {
    background-color: green;
}

footer {
    background-color: white;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-items: center; */
    padding: 20px 122px;
    /* color: grey; */
}

footer div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 20px; */
    /* justify-items: center; */
    /* margin: 30px; */
    color: #737373;
    /* font-size: 5px; */
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
}

footer a {
    color: #737373;
    text-decoration: none;
    margin: 3px 3px 3px 0;
}

footer a:hover {
    text-decoration: underline;
}

footer span {
    margin-top: 10px;
}
